<li class="{{received_channel}}">
  <span class="testimonial_date">{{received_date}}</span>
  <blockquote>
    <p>{{{quote }}}</p>
      <cite>
        {{ name }}
        <span class="testimonial_jobtitle">{{job_title}}</span>
        <span class="testimonial_company">{{company}}, {{website}}</span>
      </cite>
    </blockquote>
</li>
