<% # this partial is used by a Refinery::Page to select which testimonials to show on the page %>
<%
  select_statement =
    if @testimonials.nil? || @testimonials.size.zero?
      "No Testimonials available"
    else
      collection_select(:page, :testimonial_ids, @testimonials, :id, :name, {},
                        multiple: true,
                        class: %w[multiselect testimonials],
                        id: :testimonial_multiselect)
    end
%>

<section class="testimonials">
  <div class="wym_skin_refinery page_part" id="page_testimonial_selector">
    <h3 class="highlight">Select testimonials to be shown on this page</h3>
    <%= select_statement %>
  </div>
</section>
