<ul>
  <% if ::Refinery::Testimonials::Admin::TestimonialsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', url: refinery.testimonials_admin_testimonials_path %>
    </li>
  <% end %>
  <li>
    <%= action_label :add, refinery.new_testimonials_admin_testimonial_path,
                     t('.create_new'),
                     id: :add_action
    %>
  </li>
<% if !searching? && ::Refinery::Testimonials::Admin::TestimonialsController.sortable? && ::Refinery::Testimonials::Testimonial.any? %>
  <li>
    <%= action_label :reorder, refinery.testimonials_admin_testimonials_path,
                     t('.reorder_testimonials'),
                     id: 'reorder_action'%>
    <%= action_label :reorder_done, refinery.testimonials_admin_testimonials_path,
                     t('.reorder_testimonials_done'),
                     id: 'reorder_action_done',
                     class: 'hidden'%>
  </li>
<% end %>
</ul>
