
#page_testimonial_control {
  font-size : 1rem !important;
  fieldset {
    margin-top: 1rem;
    legend { font-weight: bold; color: darkslategray}
  }
  .fields {
    line-height: 1;
    .field_group {
      span { display : inline-block; }
      .label_with_help, label { margin-top:3px;}
    }
  }

  label { display : inline-block}
    &[disabled='disabled'] {background-color : grey}
  }

  input[type=radio]:checked + label:before {
    &[disabled='disabled'] {background-color : grey}
  }

  input[type=radio]:checked + label:after {
    font-weight : bold;
  }

  input[type=checkbox] {
    label { display : inline-block}
    &:checked + label:after {
    font-weight : bold;
  }
}

